<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Тема 1. Первичный анализ данных с Pandas</center>
## <center>Практическое задание. Анализ данных пассажиров "Титаника"</center>

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/SbRcpW).**

In [ ]:
import numpy as np
import pandas as pd

%matplotlib inline

**Считаем данные из файла в память в виде объекта Pandas.DataFrame**

In [ ]:
data = pd.read_csv("../../data/titanic_train.csv", index_col="PassengerId")

**Данные представлены в виде таблицы. Посмотрим на первые 5 строк:**

In [ ]:
data.head(5)

In [ ]:
data.describe()

**Для примера отберем пассажиров, которые сели в Cherbourg (Embarked=C) и заплатили более 200 у.е. за билет (fare > 200).**

Убедитесь, что Вы понимаете, как эта конструкция работает. <br>
Если нет – посмотрите, как вычисляется выражение в квадратных в скобках.

In [ ]:
data[(data["Embarked"] == "C") & (data.Fare > 200)].head()

**Можно отсортировать этих людей по убыванию платы за билет.**

In [ ]:
data[(data["Embarked"] == "C") & (data["Fare"] > 200)].sort_values(
    by="Fare", ascending=False
).head()

**Пример создания признака.**

In [ ]:
def age_category(age):
    """
    < 30 -> 1
    >= 30, <55 -> 2
    >= 55 -> 3
    """
    if age < 30:
        return 1
    elif age < 55:
        return 2
    else:
        return 3

In [ ]:
age_categories = [age_category(age) for age in data.Age]

In [ ]:
data["Age_category"] = age_categories

**Другой способ – через `apply`.**

In [ ]:
data["Age_category"] = data["Age"].apply(age_category)

**1. Сколько мужчин / женщин находилось на борту?**
- 412 мужчин и 479 женщин
- 314 мужчин и 577 женщин
- 479 мужчин и 412 женщин
- 577 мужчин и 314 женщин

In [ ]:
    # print(data[data["Sex"] == 'male'].shape)
    # print(data[data["Sex"] == 'male'].describe())
    # print(data["Sex"].value_counts()) # полностью верный метод я считаю!
    # print(data[data["Sex"] != 'male'].shape)
    # print(data[(data["Sex"] == 'male')].shape)
    # print(data[data["Sex"] != 'male'].shape)

In [ ]:
    print("На борту было {} мужчин и {} женщин.".format(sum(data['Sex'] == 'male'),
                                                        sum(data['Sex'] == 'female')))
    data['Sex'].value_counts()

**2. Выведите распределение переменной `Pclass` (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса?**
- 104
- 108
- 112
- 125

In [ ]:
    # print(data['Pclass'].value_counts())
    # print(pd.crosstab(data['Sex'], data['Pclass']))
    # print(data[(data["Sex"] == 'male') & (data['Pclass'] == 2)].shape)

In [ ]:
    pd.crosstab(data['Pclass'], data['Sex'], margins=True)
    data['Pclass'].hist(label='all')
    data[data['Sex'] == 'male']['Pclass'].hist(color="green",
                                               label='male')
    data[data['Sex'] == 'female']['Pclass'].hist(color="yellow",
                                                 label='female')
    plt.title('Distribution by class and gender.')
    plt.xlabel('Pclass')
    plt.ylabel('Frequency')
    plt.legend(loc='upper left');

**3. Каковы медиана и стандартное отклонение платежей (`Fare`)? Округлите до 2 десятичных знаков.**
- Медиана – 14.45, стандартное отклонение – 49.69
- Медиана – 15.1, стандартное отклонение – 12.15
- Медиана – 13.15, стандартное отклонение – 35.3
- Медиана – 17.43, стандартное отклонение – 39.1

In [ ]:
    # print(data['Fare'].describe())
    # print(data['Fare'].quantile(.50))
    # print(data['Fare'].std())

In [ ]:
    print("Median fare: ", round(data['Fare'].median(), 2))
    print("Fare std: ", round(data['Fare'].std(), 2))

**4. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?**
- 22.7% среди молодых и 40.6% среди старых
- 40.6% среди молодых и 22.7% среди старых
- 35.3% среди молодых и 27.4% среди старых
- 27.4% среди молодых и 35.3% среди старых

In [ ]:
    # print(data.columns)
    # print(data[(data["Age"] < 30) & (data["Survived"] == 1)].shape[0])
    # print(data[(data["Age"] < 30)].shape[0])
    # print(data[(data["Age"] > 60) & (data["Survived"] == 1)].shape[0])
    # print((data[(data["Age"] < 30) & (data["Survived"] == 1)].shape[0]/data[(data["Age"] < 30)].shape[0]*100))
    # print((data[(data["Age"] > 60) & (data["Survived"] == 1)].shape[0] / data[(data["Age"] > 60)].shape[0] * 100))
    # print(data[(data["Age"] < 30) & (data["Survived"] == 1)].shape)
    # print(data[(data["Age"] > 30) & (data["Survived"] == 1)].shape)
    # print(pd.crosstab(data['Age'] < 30, data['Survived'] == 1))
    # print(156/(228+156)*100)
    # print(pd.crosstab(data['Age'] > 60, data['Survived'] == 1))
    # print(5 / (17 + 5)*100)

In [ ]:
    young_survived = data[data['Age'] < 30]['Survived']
    old_survived = data[data['Age'] > 60]['Survived']

    print("Доли выживших: \n\t среди молодых {}%, \n\t среди старых {}%.".format(
        round(100 * young_survived.mean(), 1),
        round(100 * old_survived.mean(), 1)))

**5. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?**
- 30.2% среди мужчин и 46.2% среди женщин
- 35.7% среди мужчин и 74.2% среди женщин
- 21.1% среди мужчин и 46.2% среди женщин
- 18.9% среди мужчин и 74.2% среди женщин

In [ ]:
    # print(pd.crosstab(data['Sex'], data['Survived'] == 1))
    # print(233/(81+233)*100)
    # print(109/(109+468)*100)

In [ ]:
    male_survived = data[data['Sex'] == 'male']['Survived']
    female_survived = data[data['Sex'] == 'female']['Survived']

    print("Доли выживыших: \n\t среди женщин {}%, \n\t среди мужчин {}%".format(
        round(100 * female_survived.mean(), 1), round(100 * male_survived.mean(), 1)))

**6. Найдите самое популярное имя среди пассажиров Титаника мужского пола?**
- Charles
- Thomas
- William
- John

In [ ]:
    # names = {}
    # pattern = r"\. \w*"
    # # print(data['Name'])
    # for full_name in data['Name']:
    #     name = re.search(pattern, full_name)
    #     if name.group(0)[2:] in names:
    #         names[name.group(0)[2:]] += 1
    #     else:
    #         names[name.group(0)[2:]] = 1
    #
    # print(dict(sorted(names.items(), reverse=True, key=lambda x: x[1])))

    # first_names = data[data['Sex'] == 'male']['Name'].apply(lambda full_name:
    #                                                         full_name.split(',')[1].split()[1])

In [ ]:
    first_names = data[data['Sex'] == 'male']['Name'].apply(lambda full_name:
                                                            full_name.split(',')[1].split()[1])
    first_names.value_counts().head()

**7. Сравните графически распределение стоимости билетов и возраста у спасенных и у погибших. Средний возраст погибших выше, верно?**
- Да 
- Нет

In [ ]:
    # print(data.groupby('Survived')['Age'].mean())
    # data[data['Survived'] == 1]['Fare'].hist(color="green",
    #                                          label='Survived')
    # data[data['Survived'] == 0]['Fare'].hist(color="red",
    #                                          label='Died')
    # plt.title('Ticket fare for survived and died')
    # plt.xlabel('Pounds')
    # plt.ylabel('Frequency')
    # plt.legend();
    # plt.show()
    #
    # data[data['Survived'] == 1]['Age'].hist(color="green",
    #                                          label='Survived')
    # data[data['Survived'] == 0]['Age'].hist(color="red",
    #                                          label='Died')
    # plt.title('Ticket fare for survived and died')
    # plt.xlabel('Years')
    # plt.ylabel('Frequency')
    # plt.legend();
    # plt.show()
    # print(sns.boxplot(data['Survived'], data['Age']))

**8. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:**
- В среднем мужчины 1-го класса старше 40 лет
- В среднем женщины 1-го класса старше 40 лет
- Мужчины всех классов в среднем старше женщин того же класса
- В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [ ]:
    # print(data.columns)
    # data_males = data[(data['Sex'] == 'male')]
    # data_females = data[(data['Sex'] != 'male')]
    # print(data_females.groupby('Pclass')["Age"].mean())
    # print(data_males.groupby('Pclass')["Age"].mean())

In [ ]:
    for cl in data['Pclass'].unique():
        for sex in data['Sex'].unique():
            print("Average age for {0} and class {1}: {2}".format(sex, cl,
                                                                  round(data[(data['Sex'] == sex)
                                                                             & (data['Pclass'] == cl)]['Age'].mean(),
                                                                        2)))
    for (cl, sex), sub_df in data.groupby(['Pclass', 'Sex']):
        print("Average age for {0} and class {1}: {2}".format(sex, cl,
                                                              round(sub_df['Age'].mean(), 2)))
    pd.crosstab(data['Pclass'], data['Sex'],
                values=data['Age'], aggfunc=np.mean)
    # sns.boxplot(data['Pclass'], data['Age'])