<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Тема 1. Первичный анализ данных с Pandas</center>
## <center>Практическое задание. Анализ данных пассажиров "Титаника"</center>

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/SbRcpW).**

In [2]:
import numpy as np
import pandas as pd

%matplotlib inline

**Считаем данные из файла в память в виде объекта Pandas.DataFrame**

In [3]:
data = pd.read_csv("D:/работа/NN/mlcourse.ai/mlcourse.ai-main/data/titanic_train.csv", index_col="PassengerId")

**1. Какое количество мужчин и женщин ехало на корабле? В качестве
ответа приведите два числа через пробел.**

In [7]:
data[data['Sex'] == 'male'].count()

Survived    577
Pclass      577
Name        577
Sex         577
Age         453
SibSp       577
Parch       577
Ticket      577
Fare        577
Cabin       107
Embarked    577
dtype: int64

In [8]:
data[data['Sex'] != 'male'].count()

Survived    314
Pclass      314
Name        314
Sex         314
Age         261
SibSp       314
Parch       314
Ticket      314
Fare        314
Cabin        97
Embarked    312
dtype: int64

**2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух
знаков.**

In [14]:
data[data['Survived'] == 1]['Survived'].count()/data['Survived'].count()*100

38.38383838383838

**3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.**

In [16]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [15]:
data[data['Pclass'] == 1]['Pclass'].count()/data['Pclass'].count()*100

24.242424242424242

**4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. Посчитайте среднее и медиану возраста
пассажиров. В качестве ответа приведите два числа через пробел.**

In [17]:
data['Age'].mean()

29.69911764705882

In [18]:
data['Age'].median()

28.0

**5. Коррелируют ли число братьев/сестер с числом родителей/детей?
Посчитайте корреляцию Пирсона между признаками SibSp и Parch.**

In [19]:
data['SibSp'].corr(data['Parch'])

0.41483769862015646

**6. Какое самое популярное женское имя на корабле? Извлеките из
полного имени пассажира (колонка Name) его личное имя (First
Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и
шумные, но из них требуется извлечь необходимую информацию.
Попробуйте вручную разобрать несколько значений столбца Name
и выработать правило для извлечения имен, а также разделения
их на женские и мужские.**

In [91]:
data[(data['Sex'] != 'male')]['Name'].apply(lambda full_name: full_name.split('\([A-z]*|Miss. [A-z]*')) #???

PassengerId
2      [Cumings, Mrs. John Bradley (Florence Briggs T...
3                               [Heikkinen, Miss. Laina]
4         [Futrelle, Mrs. Jacques Heath (Lily May Peel)]
9      [Johnson, Mrs. Oscar W (Elisabeth Vilhelmina B...
10                 [Nasser, Mrs. Nicholas (Adele Achem)]
                             ...
881       [Shelley, Mrs. William (Imanita Parrish Hall)]
883                       [Dahlberg, Miss. Gerda Ulrika]
886               [Rice, Mrs. William (Margaret Norton)]
888                       [Graham, Miss. Margaret Edith]
889           [Johnston, Miss. Catherine Helen "Carrie"]
Name: Name, Length: 314, dtype: object

In [123]:
import re
def clean_name(name):
    # First word before comma is a surname
    s = re.match('^[^,]+, (.*)', name)
    if s:
        name = s.group(1)

    # get name from braces (if in braces)
    s = re.search('\(([^)]+)\)', name)
    if s:
        name = s.group(1)

    # Removing appeal
    name = re.sub('(Miss\. |Mrs\. |Ms\. )', '', name)

    # Get first left word and removing quotes
    name = name.split(' ')[0].replace('"', '')

    return name


names = data[data['Sex'] == 'female']['Name'].map(clean_name)
name_counts = names.value_counts()
name_counts.head(5)

Mary         15
Anna         15
Elizabeth    11
Margaret     10
Alice         6
Name: Name, dtype: int64

In [133]:
import re
def clean_name(name):
    
    s = re.search('\([A-z]*|Miss. [A-z]*', name)
#     print(s)
    if s:
        name = s.group(0)
        
    if name[0] == "(":
        name = name[1:].strip()
    elif name[:4] == "Miss":
        name = name[6:]
    else:
        print(name.split('. ')[1])
    
#     print(name)
    return name


names = data[data['Sex'] == 'female']['Name'].map(clean_name)
name_counts = names.value_counts()
name_counts.head(5)

Fatima
Gertrude Maybelle
Leontine Pauline
Encarnacion
Emma
Florence "Fannie"
Mara

Anna         15
Mary         14
Elizabeth    11
Margaret     10
Alice         6
Name: Name, dtype: int64